name: Facebook Stealth Stream

on:
  workflow_dispatch:

jobs:
  stream_job:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      - name: Start Stealth Broadcast
        run: |
          while true; do
            ffmpeg -re -i "http://135.125.109.73:9000/Alwan%20Sport%201%20HD%20VIP%20Arb_.m3u8" \
            -vf "split[bg][fg]; \
                 [bg]scale=1280:720,boxblur=20:20[bgblur]; \
                 [fg]scale=1000:-1[fgscale]; \
                 [bgblur][fgscale]overlay=(W-w)/2:(H-h)/2, \
                 hue=s=1.1:b=0.1, \
                 drawtext=text='LIVE - MOROCCO - %{localtime}':fontcolor=white@0.4:fontsize=20:x=w-tw-20:y=20" \
            -c:v libx264 -preset superfast -b:v 2000k -maxrate 2500k -bufsize 5000k \
            -pix_fmt yuv420p -g 60 -c:a aac -b:a 128k -ar 44100 \
            -f flv "rtmps://live-api-s.facebook.com:443/rtmp/FB-122122401357122511-1-Ab6SISX3ImJQaZ_3O0hSnRDC" \
            || echo "Reconnecting..."
            sleep 5
          done
